
.post-container {
    height: 35em;
    overflow-y: auto;
}

.post-container .card:first-child {
    margin-top: 0;
}

.posts-list {
    background: lightblue;
    border: solid 1px #000;
    border-radius: 4px;
    color: #000;
}

.label-title {
    text-transform: uppercase;
    font-size: 13px;
}

.align-center {
    text-align: center;
}

.btn, .btn:hover, .btn:focus {
    color: rgba(255, 255, 255, 0.9);
    background-color: #07c;
    border-color: #005999;
    box-shadow: inset 0px 1px 0px #3af;
}

.sortByContainer {
    float: right;
}




