

.posts {
    border: solid 2px coral;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.posts-item, .posts-header-item {
    font-size: 13px;
}

.posts-header-item {
    font-weight: bold;
    width: 100%;
}

.posts-item-comments {
    color: darkslateblue;
    font-size: small;
}

.posts-item > div {
    border-right: solid 0px #ccc;
    padding: 4px;
}

.align-center {
    text-align: center;
}

.btn, .btn:hover, .btn:focus {
    color: rgba(255, 255, 255, 0.9);
    background-color: #07c;
    border-color: #005999;
    box-shadow: inset 0px 1px 0px #3af;
}

.posts-title-box h1, .posts-title-box a {
    display: inline-block;
}

.posts-title-box a {
    float: right;
}

.posts-title-box::after {
    clear: both;
}

.svgstyle {
    margin-left: 3px;
    margin-top: -3px;

}

