body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,Arial,sans-serif;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1070px;
    padding: 20px;
    width: 60% !important;
}

.header {
    font-size: 50px;
    font-weight: 300;
    margin: 10px 0;
}

.subheader {
    font-size: 30px;
    font-weight: 300;
}

.icon-btn {
    background: none;
    border: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

